<div id="page-wrapper">
<!-- Header -->
  <div id="header-wrapper">
    <div id="header" class="container" style="padding-top: 100px;padding-bottom: 50px;">
      <!-- Logo -->
      <h1 id="logo">Calligaphy Book</a></h1>
      <p>Click on the text you want to edit, type and just click outside or press enter.</p>
    </div>
  </div>

<!-- Features -->
  <div id="features-wrapper">
    <section id="features" class="container">

      <div class="row">

        <% @posts.each do |post|%>
        <div class="4u 12u(mobile)">
          <!-- Feature -->
            <section>
              <%= post.id %><%= image_tag post.image, class: "image featured", style: "margin-bottom: 10px;" %>
              <header>
                <h3><%= best_in_place post, :title, place_holder: "Click here to add TITLE" %></h3>
                <p> <%= best_in_place post, :translation, place_holder: "Click here to add TIBETAN PHONETICS" %></p>
              </header>
              <p><%= best_in_place post, :content, place_holder: "Click here to add OPTIONAL DESCRIPTION" %></p>
              <p><%= link_to 'Delete this image', post, method: :delete, data: { confirm: 'Are you sure?' } %></p>
            </section>
        </div>
        <% end %>
      </div>
    </section>
  </div>

  <!-- Features -->

  <div id="copyright" class="container">
    <ul class="links">
    <li><%= link_to 'Add image', new_post_path %></li>
    <li><a href="http://github.com/vajradog">@vajradog</a></li>
    </ul>
  </div>
</div>


